*{
    padding:0;
    margin:0;
    list-style:none;
    text-decoration: none;
    color:#16163b;
    font-family: sans-serif;
}

@keyframes footer1{
    0%{
        transform: translateY(100%);
    }
    60%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}

body{
    background:#b9f0ff;
}

header{
    height:30vh;
    display:flex;
    width:100vw;
    justify-content: center;
    align-items: center;
}

header .background{
    width:100vw;
    position: absolute;
    z-index: -60;
    height:30vh;
    object-fit: cover;
    position: absolute;
    width:100vw;
    opacity:0.7 !important;
}

.logo img{
    max-width:90vw;
    max-height: 25vh;
    object-fit: scale-down;
}

#termsandcondition{
    margin:40px 4vw;
    padding:40px 6vw;
    background: #ffffffa9;
}

#termsandcondition div:nth-child(4), #termsandcondition div:nth-child(3){
    margin: 0 0 40px 0;
    width:100%;
    max-width:900px;
}


#termsandcondition div:nth-child(2){
    margin: 0 0 70px 0 !important;
    width:100%;
    max-width:900px;
}

#termsandcondition h1{
    font-size: 28px;
    text-decoration: underline;
}

#termsandcondition h2, #termsandcondition h3{
    font-size: 20px;
    margin-top:20px;
}

#termsandcondition p{
    font-size: 15px;
    margin-top:10px;
}

#termsandcondition li{
    font-size: 15px;
}

#termsandcondition h6{
    font-size: 12px;
    margin-top:8px;
}

#termsandcondition ul{
    width: calc(100% - 30px);
    float: right;
    padding: 10px 0 20px 0
}

#termsandcondition h4{
    font-size:45px;
    width:100%;
    text-align: center;
    padding: 0 0 30px 0;
}

@media only screen and (max-width:600px) {
    #termsandcondition{
        margin:30px 4vw;
        padding:20px 6vw 50px 6vw;
        background: #ffffffa9;
    }
    #termsandcondition div:nth-child(4){
        margin: 0 0 30px 0;
        width:100%;
        max-width:900px;
    }
    #termsandcondition div:nth-child(2){
        margin: 0 0 30px 0;
        width:100%;
        max-width:900px;
    }

    #termsandcondition div:nth-child(3){
        margin: 0 0 30px 0;
        width:100%;
        max-width:900px;
    }
    #termsandcondition h1{
        font-size: 20px;
        text-decoration: underline;
    }

    #termsandcondition h2, #termsandcondition h3{
        font-size: 16px;
        margin-top:12px;
    }

    #termsandcondition p{
        font-size: 12px;
        margin-top:8px;
    }

    #termsandcondition li{
        font-size: 12px;
    }

    #termsandcondition ul{
        font-size: 14px;
    }

    #termsandcondition h6{
        font-size: 9px;
        margin-top:8px;
    }
    #termsandcondition h4{
        font-size:25px;
        width:100%;
        text-align: center;
        padding: 0 0 10px 0 !important;
    }
}

body{
    max-width:100vw;
}